* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: antiquewhite;
    font-family: 'Plus Jakarta Sans';
}

.main-container {
    max-width: 1200px;
    margin: 2rem auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link-style {
    color: oklch(13% 0.028 261.692);
    font-size: 18px;
}

.link-style:hover {
    color: oklch(44.6% 0.03 256.802);
}

.btn {
    background-color: black;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    font-weight: 600;
}

.btn:hover {
    background-color: oklch(37.3% 0.034 259.733);
    color: oklch(98.5% 0.002 247.839);
}

.hero-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.secondary-btn:hover {
    background-color: black;
    color: white;
}

.hero-heading {
    font-weight: 700;
    font-size: 72px;
    text-align: center;
}

.hero-paragraph {
    font-size: 1.2rem;
}

.hero-section {
    margin-top: 10rem;
}

.primary-btn {
    background-color: black;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.secondary-btn {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 1rem 1.5rem;
    border-radius: 10px;
}

.hero-btn {
    display: flex;
    gap: 1.5rem;
}

.section-background {
    max-width: 1000px;
    margin: 0 auto;
}

.section-background img {
    width: 100%;
}